{% extends "base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}
    <h1 style="margin-top: 10%">Dashboard</h1>
{% endblock %}