{% extends "base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}
    {% include 'components/aside-dashboard.html.twig' %}
    <div style="position: absolute; top: 17%; left: 45%">
        <img src="{{asset('assets/images/logo.png')}}" alt="Super mercado" />
        <h2 style="margin-left: 0">Gerencie o sistema pelo menu ao lado</h2>
    </div>
{% endblock %}