{% extends "base.html.twig" %}

{% block title %} Meu perfil {% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}
    {% include 'components/aside-dashboard.html.twig' %}
    <div class="profile-container">
        <div class="profile">
            <div>
                <h2>{{ user.name }}</h2>
                <p><b>E-mail:</b> <span>{{ user.email }}</span></p>
            </div>
            <div>
                Imagem
            </div>
        </div>
        <form>
            Formulário de atualização
        </form>
    </div>
{% endblock %}