{% extends "base.html.twig" %}

{% block title %} Games {% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}
    {% include 'components/aside-dashboard.html.twig' %}
    <div style="position: absolute;top: 12%;left: 20%;">
        <div>Games</div>
    </div>
{% endblock %}