{% extends "base.html.twig" %}

{% block title %} Eletro domésticos {% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}
    <div class="container">
    {% include 'components/aside-dashboard.html.twig' %}
        <div>
            <div class="flex-between">
                <div>
                    <h2>Editar {{ homeAppliance.nome }}</h2>
                </div>
                <div>
                    <button class="btn-back" onclick="navigateTo('homeAppliances')">Voltar</button>
                </div>
            </div>
            <form method="POST"  action="{{path('homeAppliance_edit', {id: homeAppliance.id})}}" enctype="multipart/form-data">
                <div class="form-class">
                    <label for="update_photo" class="update_photo">Procurar imagem</label>
                    <input 
                        id="update_photo"
                        name="add_image" 
                        type="file"
                        accept=".png, .jpg, .jpeg"
                        maxlength="1048576" 
                    />
                </div>
                <div class="form-class">
                    <label for="nome">Nome:</label>
                    <input 
                        id="nome"
                        name="nome" 
                        type="text" 
                        value="{{ homeAppliance.nome }}"
                    />
                </div>
                <div class="form-class">
                    <label for="preco">Preço:</label>
                    <input 
                        id="preco"
                        name="preco" 
                        type="text" 
                        value="{{ homeAppliance.preco }}"
                        oninput="moneyMask(this)"
                    />
                </div>
                <div class="form-class">
                    <button type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}