{% extends "base.html.twig" %}

{% block title %} Eletro domésticos {% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}
    {% include 'components/aside-dashboard.html.twig' %}
    <div class="container">
        <div>Eletro domésticos</div>
    </div>
{% endblock %}