{% extends "base.html.twig" %}

{% block title %} Eletro domésticos {% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}
    {% include 'components/aside-dashboard.html.twig' %}
    <div style="position: absolute;top: 12%;left: 20%;">
        <div>Eletro domésticos</div>
    </div>
{% endblock %}