.profile-container{
    width: 75%;
    position: absolute;
    top: 15%;
    left: 20%;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.profile > .profile-image {
    width: 8rem;

    img{
        width: 100%;
        border-radius: 15% 0 0 15%;
        object-fit: cover;
        object-position: center;
    }
}
.profile > div:first-child > h2{
    margin-bottom: 2rem;
}