<aside>
    <ul>
        <li id="profile">
            <a href="{{path('profile')}}">
                <i class="fa-solid fa-user"></i> Meu Perfil
            </a>
        </li>
        <li id="food">
            <a href="{{path('food')}}">
                <i class="fa-solid fa-bowl-food"></i> Alimentos
            </a>
        </li>
        <li>
            <a href="/dashboard-homeappliances">
               <i class="fa-regular fa-hard-drive"></i> Eletro domésticos
            </a>
        </li>
        <li>
            <a href="/dashboard-electronics">
              <i class="fa-solid fa-desktop"></i> Eletro eletrônicos
            </a>
        </li>
        <li>
            <a href="/dashboard-tools">
                <i class="fa-solid fa-screwdriver-wrench"></i> Ferramentas
            </a>
        </li>
        <li>
            <a href="/dashboard-games">
              <i class="fa-solid fa-gamepad"></i> Games
            </a>
        </li>
        <li>
            <a href="/dashboard-computing">
              <i class="fa-solid fa-computer"></i> Informática
            </a>
        </li>
        <li>
            <a href="/dashboard-other">
              <i class="fa-solid fa-border-all"></i> Outros produtos
            </a>
        </li>
    </ul>
</aside>