<nav>
    <ul>
        <li>
            <a href="/">Alimentos</a>
        </li>
        <li>
            <a href="/">Eletro domésticos</a>
        </li>
        <li>
            <a href="/">Eletro eletrônicos</a>
        </li>
        <li>
            <a href="/">Ferramentas</a>
        </li>
        <li>
            <a href="/">Games</a>
        </li>
        <li>
            <a href="/">Informática</a>
        </li>
        <li>
            <a href="/">Outros produtos</a>
        </li>
    </ul>
</nav>