<section>
    <div class="slide-images">
        <div>
            <img src="{{ asset('assets/images/slide01.jpg') }}" alt="Alimentos">
        </div>
        <div>
            <img src="{{ asset('assets/images/slide02.jpeg') }}" alt="Eletrônicos">
        </div>
        <div>
            <img src="{{ asset('assets/images/slide03.jpg') }}" alt="Ferramentas">
        </div>
        <div>
            <img src="{{ asset('assets/images/slide04.jpg') }}" alt="Games">
        </div>
    </div>
</section>