{% extends 'auth/layout.html.twig' %}
{% block title %} {{titulo}} {% endblock %}
{% block body %}
    <main class="auth-container">
        <div class="container">
            <div>
                <div>
                    <img src="assets/images/logo.png" alt="logo" />
                </div>
            </div>
            <div></div>
        </div>
    </main>
{% endblock %}